{% extends './layout.html' %}
{% block style %}
<style>
    .viewImg {
        position: relative;
        background: #eee;
        border: 1px solid #ddd;
        width: 150px;
        height: 100px;
        overflow: hidden;
        display: none;
    }
    .viewImg img{
        width: 100%;
        height: 100%;
    }
    .file {
        position: relative;
        display: inline-block;
        background: #eee;
        border: 1px solid #ddd;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .file:before,
    .file:after{
        content: '';
        width: 50px;
        height: 3px;
        background: #ddd;
        position: absolute;
        left: 25px;
        top: 50px;
        pointer-events: none;
    }
    .file:after{
        transform: rotateZ(90deg);
    }
    .file input {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
    }
    .file:hover {
        background: #ddd;
        border-color: #eee;
    }
    .file:hover:before,
    .file:hover:after{
        background: #fff;
    }
    .form-box{
        margin-bottom: 50px;
    }
    .warning{
        font-size: 12px;
        color: red;
        margin: 10px 0;
        padding: 0;
    }
</style>
{% endblock %}
{% block main %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li><span>内容添加</span></li>
    </ol>
    <h3 style="margin-bottom: 20px;">内容添加</h3>
    <div class="form-box">
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="请输入内容标题" name="title">
        </div>
        <div class="form-group">
            <textarea class="form-control"  name="description" rows="5" placeholder="请输入内容简介"></textarea>
        </div>
        <div id="editor"></div>
        <div class="form-group" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-1">
                    <span style="font-size: 14px; font-weight: bold;">封面图片:</span>
                </div>
                <div class="col-md-11">
                    <form id="titleImg" action="" method="post" enctype ="multipart/form-data" >
                        <a href="javascript:;" class="viewImg">
                            <img src="" alt="">
                        </a>
                        <a href="javascript:;"  class="file">
                            <input type="file" name="titleImg" onchange="Req_ajax()">
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <button type="button" class="btn btn-default">保存</button>
            <p class="warning"></p>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="/public/assets/js/wangEditor.min.js"></script>
<script>
    let E = window.wangEditor;
    let editor = new E('#editor');
    editor.customConfig.zIndex = 10;
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/api/upload/img';
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            let url = '/public/images/upload/'+result.message;
            insertImg(url)
        }
    };
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'italic',  // 斜体
        'underline',  // 下划线
        'foreColor',  // 文字颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'video',  // 插入视频
        'code'  // 插入代码
    ];
    editor.create();
    function Req_ajax(){
        let formData = new FormData($("#titleImg").get(0));
        $.ajax({
            url: '/api/upload/img',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data){
                if( data.code == 0 ){
                    $('.viewImg img').attr('src','/public/images/upload/'+data.message);
                    $('.file').hide();
                    $('.viewImg').css('display','inline-block');
                }
            }
        });
    }

    $('.form-box .btn').on('click',function(){
        $('.form-box .warning').html('');
        let title = $('.form-box').find('[name = title]').val();
        let description = $('.form-box').find('[name = description]').val();
        let content = editor.txt.html();
        let titleImg = $('.form-box .viewImg img').attr('src');

        if(title == '' ){
            $('.form-box .warning').html('标题不能为空！');
            return;
        }
        if(description == '' ){
            $('.form-box .warning').html('简介不能为空！');
            return;
        }
        if(editor.txt.text() == '' ){
            $('.form-box .warning').html('内容不能为空！');
            return;
        }
        $.ajax({
            type: 'post',
            url: '/admin/content/add',
            data: {
                title: title,
                description: description,
                content: content,
                titleImg: titleImg
            },
            dataType: 'json',
            success: function (result) {
                $('.form-box .warning').html( result.message );
                if( !result.code ){
                    H.modal({
                        title: "提示",
                        message: "保存成功！",
                        btnok: "内容列表",
                        btncl: "继续添加",
                        clFn: function(){
                            window.location.reload();
                        },
                        okFn: function(){
                            window.location.href = '/admin/content';
                        }
                    })
                }
            }
        });
    });
</script>
{% endblock %}