{% extends 'layout.html' %}

{% block main %}
<style>
    .linkLogo p{
        display: inline-block;
    }
    .linkLogo img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>友链列表</span></li>
</ol>
<h3>友链列表</h3>
{%include 'page.html'%}
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>友链logo</th>
        <th>名称</th>
        <th>网址</th>
        <th>操作</th>
    </tr>
    {% for link in links %}
    <tr>
        <td>{{ link._id.toString() }}</td>
        <td class="linkLogo">{% autoescape false %}{{ link.logo }}{% endautoescape %}</td>
        <td>{{ link.name }}</td>
        <td>{{ link.href }}</td>
        <td>
            <a href="/admin/link/del?id={{ link._id.toString() }}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

{%include 'page.html'%}

{% endblock %}
