{% extends './layout.html' %}
{% block style %}
<style>
    .table img{
        width: 40px;
        height: 40px;
    }
</style>
{% endblock %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>内容列表</span></li>
</ol>
<h3>内容列表</h3>
{%include './page.html'%}
<table class="table table-hover table-striped">
    <tr>
        <th>用户图标</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>内容</th>
        <th>留言地址</th>
        <th>留言时间</th>
        <th>回复</th>
        <th>操作</th>
    </tr>

    {% for message in messages %}
    <tr>
        <td><img src="{{ message.userImg }}" alt=""></td>
        <td>{{ message.user }}</td>
        <td>{{ message.email }} </td>
        <td>{{ message.message | safe }}</td>
        <td>{{ message.ip.cname }}</td>
        <td>{{ message.addTime.toString() | date }}</td>
        <td>{{ message.reply.content | safe }}</td>
        <td>
            <a class="btn btn-primary btn-xs rep" href="/admin/message/reply?id={{ message._id.toString()}}">回复</a>
            <a class="btn btn-danger btn-xs del" _id="{{ message._id.toString()}}">删除</a>
        </td>
    </tr>
    {% else %}
    <tr>暂无数据</tr>
    {% endfor %}
</table>
{%include './page.html'%}

{% endblock %}
{% block script %}
<script>

    $('.table .del').on('click',function(){
        let id= $(this).attr('_id');
        H.modal({
            title: "删除",
            message: "是否删除？",
            btnok: "删除",
            btncl: "取消",
            okFn: function(){
                $.ajax({
                    type: 'get',
                    url: '/admin/message/del',
                    data: {
                        id: id
                    },
                    success: function (result) {
                        if( !result.code ){
                            H.modal({
                                title: "提示",
                                message: "删除成功！",
                                btnok: "确定",
                                btncl: "",
                                okFn: function(){
                                    window.location.reload();
                                }
                            })
                        }
                    }
                })
            }
        })

    })
</script>
{% endblock %}