{% extends 'layout.html' %}
{% block main %}
<div class="about">
    <div class="about-title">
        <h3 class="text-center">关于我</h3>
    </div>
    <div class="about-img text-center">
        <img src="/public/img/about-tit.png" class="img-responsive" alt="Responsive image">
        <img class="img-circle" src="/public/img/logo.jpg" alt="">
    </div>
    <div style="margin-top: 30px;" class="panel panel-warning">
        <div class="panel-heading text-center">
            我是一个平凡的不能再平凡的平凡人，过着平淡的不能再平淡的平淡日子。一直向着一位非常伟大的农民追赶，他的名字叫码农。
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <img src="/public/img/myqq.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <img src="/public/img/myweixin.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <img src="/public/img/myweibo.png" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <img src="/public/img/qqqun.png" alt="">
        </div>
    </div>
    <div class="text-center">
        <a href="/contact"><button type="button" class="log-btn btn btn-danger"> 给我留言</button></a>
    </div>
</div>

{% endblock %}