<!DOCTYPE HTML>
<html>
<head>
    {% block seo %}{% endblock %}
    <meta name="keywords" content="胡钢强，前端博客，hugangqiang,个人博客，前端资料，前端学习，前端，nodejs，javascript,神建站，gangqianghu">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    {% block style %}{% endblock %}
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1><a href="/">hu Gangqiang</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/">生活与Bug</a></li>
                <li><a href="/message">联系</a></li>
                <!-- <li><a href="/about">关于</a></li> -->
            </ul>
        </nav>
        <nav class="main">
            <ul>
                {% if userInfo._id %}
                <li class="user">
                    <a href="javascript:;" class="userInfo">
                        <img src="{{ userInfo.userImg }}" alt="">
                    </a>
                    <div class="userInfoBox">
                        <ul>
                          <!--   <li>
                                <a href="javascript:;"><i class="fa fa-cog"></i>账号设置</a>
                            </li> -->
                            <li>
                                <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="login">
                    <a class="log-btn" href="javascript:;">
                        <i class="fa fa-user "></i>登录
                    </a>
                </li>
                {% endif %}
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="#">
                        <input type="text" name="query" placeholder="搜索" />
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- login -->
    <section id="sign">
        <div class="login">
            <div class="close">
                <span class="fa fa-close"></span>
            </div>
            <div class="switch"><span class="fa fa-toggle-on" ></span> 切换注册</div>
            <h3>登录</h3>
            <p>
                <span class="icon fa fa-user"></span>
                <input name="username" type="text" placeholder="请输入英文用户名" >
            </p>
            <p>
                <span class="icon fa fa-lock"></span>
                <input name="password" type="password" placeholder="请输入6位或以上的密码" >
            </p>
            <p class="safe">
                <label class="remembermetext" for="rememberme">
                    <input name="rememberme" type="checkbox" checked="checked" id="rememberme" class="rememberme" value="forever">记住我的登录
                </label>
                <a class="lost" href="/findpass">忘记密码 ?</a>
            </p>
            <p>
                <button class="login-btn" type="button" >登录</button>
            </p>
            <span style="color: red;" class="warning"></span>
            <div class="other-sign">
                <p>您也可以使用第三方帐号快捷登录</p>
                <div class="2-col">
                    <a class="qqlogin"  href="javascript:;"><i class="fa fa-qq"></i><span>Q Q 登 录</span></a>
                </div>
                <div class="2-col">
                    <a class="githublogin" href="javascript:;"><i class="fa fa-github"></i><span>github登 录</span></a>
                </div>
            </div>
        </div>
        <div class="register">
            <div class="close">
                <span class="fa fa-close"></span>
            </div>
            <div class="switch"><span class="fa fa-toggle-off" ></span> 切换登录</div>
            <h3>注册</h3>
            <p>
                <span class="icon fa fa-user"></span>
                <input name="username" type="text" placeholder="请输入英文用户名" >
            </p>
            <p>
                <span class="icon fa fa-envelope"></span>
                <input name="useremail" type="email" placeholder="请输入常用邮箱" >
            </p>
            <p>
                <span class="icon fa fa-lock"></span>
                <input name="password" type="password" placeholder="请输入6位或以上的密码" >
            </p>
            <p>
                <span class="icon fa fa-retweet"></span>
                <input name="repassword" type="password" placeholder="请再次输入密码" >
            </p>
            <p>
                <button class="register-btn" type="button">注册</button>
            </p>
            <span style="color: red;" class="warning"></span>
        </div>
    </section>
    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="搜索" />
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="/">
                        <h3>生活与Bug</h3>
                        <p>记录生活中的乐与Bug。</p>
                    </a>
                </li>
                <li>
                    <a href="/message">
                        <h3>联系</h3>
                        <p>寻求志同道合之群体。</p>
                    </a>
                </li>
            <!--     <li>
                    <a href="/about">
                        <h3>关于</h3>
                        <p>一只平凡菜鸟，不断在各种坑中跳来跳去。</p>
                    </a>
                </li> -->
            </ul>
        </section>

        <!-- Actions -->
        <section>
            {% if userInfo._id %}
            <ul class="actions vertical m-userInfo">
                <li>
                    <img src="{{ userInfo.userImg }}" alt="">
                    <p class="userName">{{userInfo.userName}}</p>
                    <a href="javascript:;" class="logout"><i class="fa fa-sign-out"></i>退出</a>
                </li>
            </ul>
            {% else %}
            <ul class="actions vertical">
                <li><a href="javascript:;" class="button big fit log-btn">登录</a></li>
            </ul>
            {% endif %}
        </section>
    </section>

    {% block main %}{% endblock %}
</div>
<footer class="f-copy">
    <p>©2017 <a href="https://hugangqiang.com">胡钢强</a> . All Rights Reserved . theme by <a href="https://hugangqiang.com">胡钢强</a> </p>
</footer>
<div class="shade"></div>
<!-- Scripts -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/skel.min.js"></script>
<script src="/public/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="/public/assets/js/main.js"></script>
{% block script %}{% endblock %}
</body>
</html>