{% extends 'layout.html' %}
{% block main %}
<div class="serve bg-fff marginT-20">
    <div>
        <h3 class="text-center">网站整站建设</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">UI</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">前端</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">后端</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">webapp</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">微信小程序</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">模板定制开发</h3>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 marginT-20">
        <div class="bg-fff">
            <h3 class="text-center">二次开发</h3>
        </div>
    </div>
</div>
{% endblock %}